<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">

      <h1>New Feed</h1>

      <%= render 'form', feed: @feed %>

      <%= link_to 'Back', feeds_path, class: "btn btn-primary btn-block" %>

    </div>
  </div>
</div>
