<div class="container-fluid">
  <div class="row paddingbottom">
    <div class="col-md-8 offset-md-2">
      <h1>Editing Episode</h1>
      <%= render "form", url: show_episode_path(@show, @episode), method: :patch %>
      <div class="row paddingtop">
        <div class="col">
          <%= link_to 'Show', show_episodes_path(@show, @episode), class: common_big_bold_button %>
        </div>
        <div class="col">
          <%= link_to 'Back', show_episodes_path(@show), class: common_big_bold_button %>
        </div>
      </div>
    </div>
  </div>
</div>
