<div class="container-fluid">
  <div class="row paddingbottom">
    <div class="col-md-8 offset-md-2">
      <h1>Editing Episode</h1>

      <%= render 'form', show: @show, episode: @episode %>

      <div class="row paddingtop">
        <div class="col">
          <%= link_to 'Show', show_episodes_path(@show, @episode), class: "btn btn-primary btn-block" %>
        </div>
        <div class="col">
          <%= link_to 'Back', show_episodes_path(@show), class: "btn btn-primary btn-block" %>
        </div>
      </div>
    </div>
  </div>
</div>
