<div class="container">
  <div class="row paddingbottom">
    <ul class="list-group" id="admin_actions">
      <% @episodes.all.each do |episode| %>
        <a href="<%= episode_path(episode) %>" class="list-group-item list-group-item-action">
          <div class="row">
            <div class="col">
              <%= episode.title %>
            </div>
            <div class="col">
              <%= episode.inspect %>
            </div>
            <div class="col">
              <%= Show.find(episode.show_id).inspect %>
            </div>
          </div>
        </a>
      <% end %>
    </ul>
  </div>
</div>
