<div class="col-md-6 offset-md-3">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Period</th>
        <th scope="col">Amount Owed to Producer</th>
      </tr>
    </thead>
    <tbody>
      <% @invoices.reverse.each do |invoice| %>
        <tr>
          <td>
            <%= link_to invoice do %>
              <%= format_clean_invoice_range(invoice.created_at) %>
            <% end %>
          </td>
          <td>$ <%= invoice.amount_due_to_producer %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
