<div class=row>
  <div class="col-md-6 offset-md-3">
    <h1>Editing Invoice</h1>

    <%= render 'form', invoice: @invoice %>

    <%= link_to 'Show', @invoice %> |
    <%= link_to 'Back', invoices_path %>
  </div>
</div>
