<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>Producer Invoices</h1>
      <% if @producer_invoices.size > 0 %>
        <%= render "invoices_yes", invoices: @producer_invoices %>
      <% else %>
        <%= render "invoices_no" %>
      <% end %>
    </div>
    <div class="col-6">
      <h1>Client Invoices</h1>
      <% if @client_invoices.size > 0 %>
        <%= render "invoices_yes", invoices: @client_invoices %>
      <% else %>
        <%= render "invoices_no" %>
      <% end %>
    </div>
  </div>
</div>
