<div class="container">
  <div class="row">
    <% if @producer_invoices != nil && @client_invoices != nil %>
      <div class="col-6">
        <h1>Producer Invoices</h1>
        <% if @producer_invoices.size > 0 %>
          <%= render "invoices_yes", invoices: @producer_invoices %>
        <% else %>
          <%= render "invoices_no" %>
        <% end %>
      </div>
      <div class="col-6">
        <h1>Client Invoices</h1>
        <% if @client_invoices.size > 0 %>
          <%= render "invoices_yes", invoices: @client_invoices %>
        <% else %>
          <%= render "invoices_no" %>
        <% end %>
      </div>
    <% else %>
      <div class="col">
        <div class="card my-3">
          <div class="card-body">
            <p>Hi!</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
