<div class="container">
  <div class="row">
    <div class="col-12">
      <center>
        <h1>Invoices</h1>
      </center>
    </div>
  </div>
  <div class="row">
    <% if @invoices.size > 0 %>
      <%= render "invoices_yes" %>
    <% else %>
      <%= render "invoices_no" %>
    <% end %>

    <br>
    <% if current_user.role == "administrator" %>
      <div class="col-md-6 offset-md-3 mb-2 text-center mb-5">

        <%= link_to 'New Invoice', new_invoice_path, class: "btn btn-primary btn-block" %>
      </div>
    <% end %>
  </div>
</div>
