<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <% @episodes.each do |episode| %>
        <p><%= episode.title %></p>
      <% end %>
    </div>
  </div>
</div>
