<div class="container-fluid">
  <div class="row py-3">
    <div class="col-md-8">
      <%= render "pages/existing_shows_card" %>
    </div>

    <div class="col-md-4">
      <%= link_to "Refresh Podcast RSS feeds", sync_all_podcast_feeds_path, class: common_big_bold_button %>
      <br>
    </div>
  </div>
</div>
