<div class="row p-3 my-5">
  <div class="col-lg-8">
    What is useful for the administrator?
  </div>
  <div class="col-lg-4">
    <%= link_to "Refresh Podcast RSS feeds", "#a_tool_that_refreshes_all_rss_feeds", class: "btn btn-block btn-primary" %>
  </div>
</div>
