<div class="card mb-3">
  <div class="list-group list-group-flush">
    <% @shows.each do |show| %>
      <%= link_to show, class: "list-group-item list-group-item-action" do %>
        <div class="row">
          <div class="col-2">
            <%= image_tag show.show_art, class: "img-fluid" if show.show_art.attached? %>
          </div>
          <div class="col-6">
            <p>
              <small class="text-muted">
                Title:
              </small><br>
              <%= show.title %>
            </p>
          </div>
          <div class="col-3">
            Episodes: <%= show.episodes.count %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
