<div class="row p-3 mt-5 mb-5">
  <div class="col-md-8 offset-md-2">
    <% if current_user.shows.size > 0 %>
      <% current_user.shows.each do |show| %>
        <%= show.inspect %>
      <% end %>
    <% else %>
      <%= render "start_new_show_card" %>
    <% end %>
  </div>
</div>
