<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Freedom Podcasting Hosting</h1>
        <p class="lead text-muted">An improved hosting service similar to Libsyn, Podbean, Buzzsprouts, Spreaker and/or Anchor.</p>
        <p>
          <%# <a href="#" class="btn btn-primary my-2">Main call to action</a>
          <a href="#" class="btn btn-secondary my-2">Secondary action</a> %>
          <%= link_to "New Account", new_user_registration_path, class: common_big_bold_button %>
          <%= link_to "Sign In", new_user_session_path, class: common_big_bold_button("success") %>
        </p>
      </div>
    </div>
  </section>

  <!-- <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

</main>

<footer class="text-muted py-5 bg-light">
  <div class="container">
    <div class="col-lg-12 h-100 text-center text-lg-left my-auto">
      <ul class="list-inline mb-2">
        <li class="list-inline-item">
          <a href="http://www.freedompodcasting.com/about" target="_blank">About</a>
        </li>
        <li class="list-inline-item">&sdot;</li>
        <li class="list-inline-item">
          <a href="http://www.freedompodcasting.com/start" target="_blank">Contact</a>
        </li>
        <li class="list-inline-item">&sdot;</li>
        <li class="list-inline-item">
          <a href="/tools">Free Tools</a>
        </li>
        <li class="list-inline-item">&sdot;</li>
        <li class="list-inline-item">
          <a href="/users/sign_in">Sign In</a>
        </li>
        <li class="list-inline-item">&sdot;</li>
        <li class="list-inline-item">
          <a href="/users/sign_up">Sign Up</a>
        </li>
      </ul>
      <p class="text-muted small my-4">
        <%= Time.now.year + 1 %> Freedom Podcasting Company LLC.
      </p>
    </div>
  </div>
</footer>