<header class="masthead text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Professional Podcast Production</h1>
        <p>
          Own your own content.<br><br>
          A podcast prodcution system that empowers you to produce with the fewest steps.<br><br>
        </p>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <%= link_to "Get Started", new_user_registration_path, class: "btn btn-primary btn-block" %>
            <%= link_to "Sign In", new_user_session_path, class: "btn btn-secondary btn-block" %>
            <small class="pt-3">If you've previously used apps like Podbean, Buzzsprouts, Spreaker or Anchor you are probably ready for a change to something better.</small>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>

<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="material-icons icon-screen-desktop m-auto fp-red">wb_iridescent</i>
          </div>
          <h3>Automated Distribution</h3>
          <p class="lead mb-0">
            When you launch with us we ensure your podcast appears on all podcast platforms.
          </p><br>
          <p class="lead mb-0">iTunes, Overcast, Spotify and more.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="material-icons icon-screen-desktop m-auto fp-red">settings_input_composite</i>
          </div>
          <h3>Automated Tasks</h3>
          <p class="lead mb-0">
            Automate .mp3 tagging<br>
            Automate RSS syndication<br>
            Automate Publication Process<br><br>
            Automate Everything
          </p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="material-icons icon-check m-auto fp-red">format_paint</i>
          </div>
          <h3>Easy to Use</h3>
          <p class="lead mb-0">
            We have been producing podcasts for years.<br><br>
            This is our in-house solution to skipping the drudgery.<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="http://www.freedompodcasting.com/about" target="_blank">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="http://www.freedompodcasting.com/start" target="_blank">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/tools">Free Tools</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/users/sign_in">Sign In</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="/users/sign_up">Sign Up</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; 2020 Freedom Podcasting Company LLC.<br>All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
