<div class="col-md-6 offset-md-3 text-center">
  <h1>Freedom Podcasting</h1>
  <p>Goal #1 is to make the Invoicing Process Easier</p>
  <p><em>This application is in production.</em></p>
  <p>
    <em>
      <strong>
        Don't expect your data to be secure here just yet.
      </strong>
    </em>
  </p>
  <%= link_to "Get Started", new_user_session_path, class: "btn btn-primary btn-block" %>
</div>
