<div class="col-md-6 offset-md-3 text-center pb-5">
  <p>
    A collection of public and private tools which support podcast producers and hosts.
  </p>
  <p><em>This application is in production.</em></p>
  <p>
    <em>
      <strong>
        Please don't expect your data to be secure here just yet.
      </strong>
    </em>
  </p>
  <%= link_to "Get Started", new_user_session_path, class: "btn btn-primary btn-block" %>
</div>
