<style>
  input[type="text"]{
    text-align: center;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>iTunes Podcast RSS Tool</h1>
    </div>
    <div class="col-md-12 text-center">
      <small class="tiny">
        <strong>Example</strong>:<br>
        https://podcasts.apple.com/us/podcast/freedom-podcasting-company-podcast-production-podcast/id1102195899
      </small><br>
      <form name="getURL" class="p-3">
        <input type="text" id="feed" class="form-control" size="100%" onkeyup="scrape_url();" placeholder="Add Your iTunes Show Link Here" >
      </form>
      <small class="font-weight-light">Please allow 2 seconds for us to grab it...</small>
      <h3 id="feed-results" class="alert alert-dark mt-3">The source RSS Feed Will Appear Here</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 pb-5"">
      <%= image_tag "screen_shots/rss_feed_flipper_for_debugging_itunes.jpg", width: "100%" %>
    </div>
    <div class="col-md-3">
      <div class="text-center">
      </div>
      <p>
        Add an iTunes podcast link below and this tool will provide the source RSS feed.
        This is helpful for isolating issues related to how you show up in iTunes.
      </p>
    </div>
  </div>
</div>
<script>
  var artist_id, userGeneratedURL;
  var FEED_URL = "";
  var ITUNES_API = 'https://itunes.apple.com/lookup?id=';
  var feedResultsSpace = document.getElementById("feed-results");

  async function scrape_url() {
    // Parses and assigns to variables artist_id and userGeneratedURL
    var form = document.forms['getURL'];
    userGeneratedURL = form.feed.value;
    artist_id = filterArtistID(userGeneratedURL);
    retrieveFeedFromAPI(artist_id);

    setTimeout( function() {
      showFeedUrl();
    }, 2000 );
  }

  function filterArtistID(url) {
    var match = url.match(/id=?([\d]+)/i);
    if (match) {
      return match[1];
    } else {
      return false;
    }
  }

  function retrieveFeedFromAPI(artist_id) {
    $.get(ITUNES_API + artist_id, function(data, status) {
      FEED_URL = data["results"][0]["feedUrl"];
    }, 'jsonp')
  }

  function showFeedUrl() {
    if (FEED_URL != "") {
      feedResultsSpace.innerHTML = `<a href='${FEED_URL}' target="_blank">`+ FEED_URL + "</a>";
      feedResultsSpace.classList.remove("alert-dark")
      feedResultsSpace.classList.add("alert-success")
    } else {
      feedResultsSpace.innerText = 'Failed to retrieve feed from the iTunes API';
    }
  }

</script>
