<section class="jumbotron text-center">
  <div class="container">
    <h1>Freedom Podcasting</h1>
    <p>Podcast Production Tools</p>
    <p>
      <%= link_to "Produce My Podcast", new_user_session_path, class: "btn btn-primary" %>
    </p>
  </div>
</section>

<%= render "layouts/footer" %>
