<section class="jumbotron text-center">
  <div class="container">
    <h1>Freedom Podcasting</h1>
    <p>A Project Management Software for Managing Episodic Production</p>
    <p>
      <%= link_to "Get Started For Free", new_user_session_path, class: "btn btn-primary" %>
    </p>
  </div>
</section>

<%= render "layouts/footer" %>
