<div class="section hero">
  <div class="container">
    <div class="row">
      <div class="one-half column">
        <h4 class="hero-heading">Stop struggling with podcast production.</h4>
        <p>Just record and we'll take care of the rest.</p>
        <a class="button button-primary" href="/login">Try Freedom</a>
      </div>
      <div class="one-half column phones">
        <%= image_tag ("home/podcast-production-services.jpg"), class: "phone" %>
      </div>
    </div>
  </div>
</div>

<div class="section get-help">
  <div class="container">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZWg08HzxBxc?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>
</div>

<div class="section get-help">
  <div class="container">
    <h3 class="section-heading">Need help getting started?</h3>
    <p class="section-description">Freedom Podcasting is an amazingly easy place to work with a great podcast producer. If you want to learn more, just sign in and get started!</p>
    <a class="button button-primary" href="https://www.freedompodcasting.com/start">Start</a>
  </div>
</div>

<div class="section categories">
  <div class="container">
    <h3>Thank you for visiting.</h3>
    <p>If you would like to learn more about our team, vist our <a href="http://freedompodcasting.com/team" target="_blank">main page</a>.</p>
    <div class="row">
      <div class="one-half column category">
        <%= image_tag ("home/podcast-editing-services.jpg"), class: "u-max-full-width" %>
      </div>
      <div class="one-half column category">
        <%= image_tag ("home/podcast-production-services.jpg"), class: "u-max-full-width" %>
      </div>
    </div>
  </div>
</div>
