<div class="row p-3 my-5">
  <div class="col-md-8 offset-md-2">
      <div class="card mb-5">
      <div class="card-header">
        <h2>Podcast Production Tools</h2>
      </div>
      <div class="list-group list-group-flush">
        <%= link_to "RSS Feed Flipping Tool", "feed_flipper", class: "list-group-item list-group-item-action" %>
      </div>
    </div>
    <div class="card mb-5">
      <div class="card-header">
        <h2>Podcast Production Resources</h2>
      </div>
      <div class="list-group list-group-flush">
          <%= link_to "The Complete List of Places to Submit your Podcast RSS Feed", "http://www.freedompodcasting.com/submit", class: "list-group-item list-group-item-action" %>
          <%= link_to "Our Recomendations for an Inexpensive Home Podcasting Studio", "http://www.freedompodcasting.com/studio", class: "list-group-item list-group-item-action" %>
      </div>
    </div>
  </div>
</div>
