@import "base/variables";
@import '/*';
@import 'bootstrap';
@import 'material_icons';
@import "./actiontext.scss";

.paddingbottom {
  padding-bottom: 45px;
}

.paddingtop {
  padding-top: 45px;
}

.full-width {
  width: 100%;
}

.btn-primary {
  background-color: $primaryColor;
  border-color: $primaryColor;
}

.btn-primary:hover {
  background-color: black;
  border-color: black;
}

.btn-link:focus {
  text-decoration: none;
  background-color: $primaryColor;
  border-color: $primaryColor;
}
