@import "base/variables";
@import '/*';
@import 'bootstrap';
@import 'tether';
@import 'material_icons';

.paddingbottom {
  padding-bottom: 45px;
}

.paddingtop {
  padding-top: 45px;
}

.full-width {
  width: 100%;
}
