<ul class="list-group">
  <% @episodes.reverse.each do |episode| %>
    <a href="<%= show_episode_path @show, episode %>" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>

  <% end %>
</ul>
