<ul class="list-group">
  <% @episodes.sort_by(&:created_at).each do |episode| %>
    <a href="<%= show_episode_path @show, episode %>" class="list-group-item list-group-item-action">
      <div class="row">
        <div class="col">
          <p><%= episode.title %></p>
          <p>Duration: <%= (episode.itunes_duration.to_i / 60).to_s %></p>
          <!-- <p><%#= episode.inspect %></p> -->
        </div>
        <div class="col-md-6 embed-responsive">
          <audio controls class="embed-responsive-item">
            <source src="<%= episode.enclosure %>" type="audio/mpeg">
            Your browser does not support the audio tag.
          </audio>
        </div>
      </div>
    </a>
  <% end %>
</ul>
