<div class="container">
  <div class="row paddingbottom">
    <%= render "list_shows_and_show_details" %>
  </div>
  <div class="row paddingbottom">
    <div class="col-4 offset-4">
      <%= link_to 'New Show', new_show_path, class: "btn btn-primary btn-block text-white" %>
    </div>
  </div>
</div>
