<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2 mt-3">
      <h1>New Show</h1>

      <%= render 'form', show: @show %>

      <%= link_to 'Back', shows_path, class: "btn btn-warning btn-block mb-5" %>
    </div>
  </div>
</div>
