app = "freedom-podcasting-api"
primary_region = "sjc"
console_command = "/rails/bin/rails console"

[build]
  dockerfile = "Dockerfile"

[deploy]
  release_command = "bundle exec rails db:migrate"

[env]
  RAILS_ENV = "production"
  RAILS_LOG_TO_STDOUT = "true"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

  [http_service.concurrency]
    type = "connections"
    hard_limit = 200
    soft_limit = 150

[[vm]]
  memory = "1gb"
  cpu_kind = "shared"
  cpus = 1

[[processes]]
  name = "worker"
  cmd = "bundle exec sidekiq -C config/sidekiq.yml"

[[vm]]
  process_group = "worker"
  memory = "512mb"
  cpu_kind = "shared"
  cpus = 1

[checks]
  [checks.health]
    grace_period = "30s"
    interval = "15s"
    method = "GET"
    path = "/health"
    timeout = "5s"
    type = "http"
