<% if notice %>
  <div class="alert alert-success full-width alert-dismissible fade show" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger full-width alert-dismissible fade show" role="alert">
    <%= alert %>
  </div>
<% end %>
