<% if notice %>
  <div class="alert alert-success full-width" role="alert">
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-danger full-width" role="alert">
    <%= alert %>
  </div>
<% end %>
