<div class="collapse navbar-collapse" id="navbarTogglerMain">
  <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
    <% if notice || alert %>
      <li class="nav-item notice">
        <a class="nav-link"><%= notice %></a>
      </li>
      <li class="alert nav-item">
        <a class="nav-link"><%= alert %></a>
      </li>
    <% end %>
    <%= render collapsible_links_partial_path %>
  </ul>
</div>
